<form class="" action="Minidata" method="post" enctype="multipart/form-data">
  <lab>upload Mini App raw data</lab>
  <input type="file" name="upload-file" value="upload Mini App data">
  <input type="submit" name="" value="Submit"> 
</form>
<form class="" action="ZKTdata" method="post" enctype="multipart/form-data">
  <lab>upload ZKT_data App raw data</lab>
  <input type="file" name="upload-file" value="">
  <input type="submit" name="" value="Submit">
</form>
<form class="" action="MTDPdata" method="post" enctype="multipart/form-data">
  <lab>upload MTDP_data App raw data</lab>
  <input type="file" name="upload-file" value="">
  <input type="submit" name="" value="Submit">
</form>

